:root {
  --bg: #fff;
  --text: #7288a2;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #d10754;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 60px;
  background-color: #eeeeee;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
#header-element-left{
color: #000000;
}

.container {
  font-family: "Poppins";
  margin: 0 auto;
  padding: 1.1rem 1.1rem 1.1 rem 0rem;
  width: 80%;
}

.accordion-item {
  border-bottom: 1px solid var(--lightgray);
}

.accordion-button {
  font-family: "Poppins";
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion-button:hover, .accordion-button:focus {
  cursor: pointer;
  color: var(--blue);
}

.accordion-button:hover::after, .accordion-button:focus::after {
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

.accordion-button[aria-expanded='true'] {
  color: var(--blue);
}

.accordion-button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion-title {
 padding: 1em 1.5em 1.5em 0;
}
  

.accordion-content {
font-family: "Poppins";
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion-button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.accordion-button[aria-expanded='true'] {
  border-bottom: 1px solid var(--gray);
}

.accordion-button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -20px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion-button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion-button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

/*filter buttons*/
.w3-bar{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#btn-bar {
 margin: 0px 54px;
  transition: margin-left 0.3s ease-in-out;
 margin-bottom: 20px;
}

#btn-bar.active {
  margin-left: 225px;
}

#btn-bar button{
  border: 1px solid #000000;    
  color: black;
}

.my-button{  
  display: flex;
  flex-wrap: wrap;
  margin: 6px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px white;
  font-family: "poppins";
   background-color: red;

}

#btn-bar .my-button:hover {
  box-shadow: 0px 3px #000000;
  background-color: #d10754 !important;
  color: white !important;
}

#btn-bar .my-button:active {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px white;
}

//Responsiveness

